.DataGrid table,
.DataGrid th,
.DataGrid td {
  border: 1px solid black;
  border-collapse: collapse;
}

.DataGrid th,
.DataGrid td {
  padding: 6px;
  text-align: center;
}

.DataGrid .high {
  background-color: green;
  color: white;
}

.DataGrid .low {
  background-color: red;
  color: white;
}