.data-grid table,
.data-grid th,
.data-grid td {
  border: 1px solid black;
  border-collapse: collapse;
}

.data-grid th,
.data-grid td {
  padding: 6px;
  text-align: center;
}

.data-grid .high {
  background-color: green;
  color: white;
}

.data-grid .low {
  background-color: red;
  color: white;
}