.grid-o-data table,
.grid-o-data th,
.grid-o-data td {
  border: 1px solid black;
  border-collapse: collapse;
}

.grid-o-data th,
.grid-o-data td {
  padding: 6px;
  text-align: center;
}

.grid-o-data .high {
  background-color: green;
  color: white;
}

.grid-o-data .low {
  background-color: red;
  color: white;
}