<div class="grid-o-data">
  Hi! I'm a data grid! I have {{vm.columnCount}} columns and {{vm.rowCount}} rows!

  <table>
    <thead>
    <tr>
      <th><!-- empty on purpose :-) --></th>
      <th ng-repeat="i in vm.columnHeaders">Column {{i + 1}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.data">
      <td><strong>Row {{$index + 1}}</strong></td>
      <td ng-repeat="item in row track by $index"
          ng-class="{'high': item > vm.high, 'low': item < vm.low}">
        {{item}}
      </td>
    </tr>
    </tbody>
  </table>
</div>