<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>React in Angular</title>
</head>
<body ng-app="react♥Angular__ಠ_ರೃ" ng-controller="MainCtrl as vm">

<h1>React ♥ Angular... ಠ_ರೃ</h1>
<div>
  Grid options:
  <div>
    <label>
      Columns: <input type="number" ng-model="vm.gridValues.columns"/>
    </label>
    <label>
      Rows: <input type="number" ng-model="vm.gridValues.rows"/>
    </label>
  </div>
</div>

<hr/>

<grid-o-data the-data="vm.data"></grid-o-data>


<script src="bundle.js"></script>
</body>
</html>